@import "normalize";
@import "variables";
@import "susy";
@import "maestrooo";

.container {
  @include container(850px);
}

header[role="banner"] {
  background: #374151;
  text-align: center;
}

.logo {
  font-size: rem(20px);
  color: #ffffff;

  span {
    color: #3bafda;
  }
}

.sub-header {
  padding-top: rem(55px);
  background: #384352;
  border-top: 1px solid #3f4a5c;
  box-shadow: 0 -20px 20px -20px rgba(0, 0, 0, 0.2) inset;
  color: #9fb7c5;
  text-align: center;

  .tagline {
    padding-bottom: rem(16px);
    color: #ffffff;
  }

  p {
    line-height: rem(14px);
  }

  img {
    padding-top: rem(24px);
    vertical-align: bottom;
    width: 100%;
  }
}

.cta {
  padding-top: rem(20px);
  background: #8cc152;
  color: #ffffff;

  @media (min-width: 50em) {
    padding-top: rem(34px);
  }

  .newsletter {
    margin-bottom: rem(28px);
    text-align: center;

    p {
      margin: rem(5px 0 15px 0);
      font-weight: bold;
    }

    input {
      display: inline-block;
      padding: rem(7px 15px);
      background: none;
      border: 1px solid #dff8c4;
      border-radius: 5px;
      color: #dff8c4;
    }

    input[type="submit"] {
      margin-left: rem(8px);
      padding-top: rem(11px);
      padding-bottom: rem(10px);
      background: #384352;
      color: #ffffff;
      border: none;
      text-transform: uppercase;
      font-size: rem(13px);
      font-weight: bold;
    }

    input:first-child {
      width: rem(240px);
    }

    ::-webkit-input-placeholder {
      color: #c3f092;
    }

    ::-moz-placeholder {
      color: #c3f092;
    }

    :-ms-input-placeholder {
      color: #c3f092;
    }

    @media (min-width: 50em) {
      overflow: hidden;

      p {
        float: left;
        margin-bottom: 0;
      }

      .mailchimp-signup {
        float: right;
        display: inline-block;
      }
    }
  }

  .privacy-guaranteed {
    padding: rem(2px 0);
    background: #74aa3c;
    color: #d0faa2;
    font-size: rem(13px);
    text-align: center;
  }
}

.tagline, .title {
  font-family: 'open-sans', 'helvetica neue', 'arial', 'sans-serif';
  font-size: rem(34px);
  line-height: rem(24px);
  text-align: center;
  font-weight: 400;
}

.title {
  margin-bottom: rem(52px);
}

.slim {
  @include squish(2, 2);
}

.micro-slim {
  @include squish(1, 1);
}

#why-us, #our-solution {
  padding: rem(70px 0);
}

#why-us {
  color: #859aa7;

  &::after {
    position: absolute;
    content: '';
    left: 40%;
    left: calc(50% - 160px);
    border-style: solid;
    border-width: 104px 160px 0 160px;
    border-color: #ffffff transparent transparent transparent;
  }

  .title {
    color: #354050;
  }

  .blue, .red {
    margin-top: rem(42px);
    margin-bottom: rem(-10px);

    & + ul {
      padding-left: 0;
      list-style: none;

      li {
        position: relative;
        padding: rem(4px 0 4px 40px);
      }

      li::before {
        content: '';
        position: absolute;
        margin-top: rem(2px);
        left: 0;
        background-repeat: no-repeat;
      }
    }
  }

  .blue {
    color: #3bafda;
    font-weight: bold;

    & + ul {
      li::before {
        background-image: inline-image('interrogation-mark.png');
        background-size: rem(22px 22px);
        height: image-height('interrogation-mark.png') / 2;
        width: image-width('interrogation-mark.png') / 2;
      }
    }
  }

  .red {
    color: #ed5565;
    font-weight: bold;

    & + ul {
      li::before {
        background-image: inline-image('cross-mark.png');
        background-size: rem(22px 22px);
        height: image-height('cross-mark.png') / 2;
        width: image-width('cross-mark.png') / 2;
      }
    }
  }
}

#our-solution {
  padding-top: rem(90px);
  background: #384352;
  color: #9fb7c5;

  &::after {
    position: absolute;
    content: '';
    left: 40%;
    left: calc(50% - 160px);
    border-style: solid;
    border-width: 104px 160px 0 160px;
    border-color: #384352 transparent transparent transparent;
  }

  .title {
    color: #ffffff;
  }

  strong {
    color: #ffffff;
  }

  .do-it {
    color: #8cc152;
    font-weight: bold;
  }
}
